*{
  font-family: 'Comfortaa', cursive;
  /* font-family: 'Fredoka', sans-serif; */
  margin: 0;
  padding: 0;
}

body{
  overflow-x: hidden;
}

#navbar {
  justify-content: right;
  position: relative;
  height: 8rem;
  z-index: 1;
}

#header {
  font-weight: bolder;
  display: flex;
}

.undernav {
  position:absolute;
  height: 8rem;
  width: 100%;
  background-color: #efa6b6;
}

.horizontalspacer{
  height: 20rem;
  background-color: #efa6b6;
}

svg {
  width: 100%;
  height: 100%;
}

svg path {
  fill: #efa6b6;
}

svg rect {
  fill: transparent;
}

.wave {
  --divider-height: 4rem;
  position: relative;
  top: calc( var(--divider-height)/2 * -1 );
  height: var(--divider-height);
  width: 100%;
  float: left; 
  z-index: -1;
  top: 0rem;
}

.headerbutton {
  position: relative;
  text-decoration: none;
  color: rgba(255, 233, 241, 0.721);
  font-size: large;
  line-height: 1rem;
  margin: 0 1.5rem 0 0.25rem;
  background-color: #742c3b;
  
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.headerbutton:hover {
  font-size: larger;
  color: rgb(255, 255, 255);
}

#outlet {
  width: 100%;
  position: absolute;
  padding: 0;
  margin-top: -20rem;
}

.myportrait {
  border: 3px solid #FFF;
  border-radius: 18px;
}

.mydescription{
  margin-top: 3rem;
  margin-left: 1rem;
}

.darkercircle {
  position: absolute;
  width: 70rem;
  height: 70rem;
  border: 35rem solid #742c3b;
  border-radius: 50%;
  top: -60rem;
  right: -18rem;
  z-index: -0.75;
  pointer-events: none;
}

.circles1 {
  position: absolute;
  top: -20rem;
  left: -20rem;
  z-index: -0.5;
  pointer-events: none;
}

.circles2 {
  position: absolute;
  top: 20%;
  right: 30%;
  z-index: -0.5;
  pointer-events: none;
}

.circle {
  position: absolute;
  width: 40rem;
  height: 40rem;
  border: 3px solid #FFF;
  border-radius: 50%;
  display: inline;
  pointer-events: none;
}

.circle1{
  top: 0;
  left: 0;
  pointer-events: none;
}
.circle2{
  top: 3rem;
  left: 3rem;
  pointer-events: none;
}
.circle3{
  top: 6rem;
  left: 6rem;
  pointer-events: none;
}

h1, h2, h3{
  font-family: 'Fredoka', sans-serif;
  font-weight: bold;
}

h1{
  font-size: 4rem;
  color: rgb(77, 28, 42);
}

h3{
  font-size: 2rem;
  color: rgb(145, 69, 91);
}

/* For smaller screens - changes the layout */
@media screen and (max-width: 800px) {
  .headerbutton {
    margin: 0 0.1rem 0 0.1rem;
    font-size: small;
  }

  #header {
    font-weight: normal;
  }

  #navbar {
    justify-content: center;
  }

  .mydescription{
    margin-left: 0rem;
  }
  .myportrait {
    margin-bottom: -2rem;
    display: block;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  h1, h2, h3 {
    text-align: center;
    font-weight: normal;
  }

  h3{
    font-size: 1.5rem;
  }

  .horizontalspacer{
    height: 25rem;
  }

  #outlet {
    margin-top: -27rem;
  }
}