:root {
  --backgroundlight: #eadada;
  --backgroundmedium: #efa6b6;
  --backgrounddark: #742c3b;

  --darktext: rgb(77, 28, 42);
  --mediumtext: rgb(145, 69, 91);

  --accentblue: #5b6aa5;
  --accentyellow: #f1c253;
}

*{
  font-family: 'Comfortaa', cursive;
  /* font-family: 'Fredoka', sans-serif; */
}

body{
  overflow-x: hidden;
  background-color: var(--backgroundlight);
  margin: 0;
  padding: 0;

  /* dotted pattern */
  /* Colors */
  --bg-color: var(--backgroundlight);
  --dot-color: white;

  /* Dimensions */
  --dot-size: 3px;
  --dot-space: 1rem;

  background: 
      linear-gradient(90deg, var(--bg-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%),
      linear-gradient(var(--bg-color) calc(var(--dot-space) - var(--dot-size)), transparent 1%),
      var(--dot-color);
	background-size: var(--dot-space)  var(--dot-space);
}

#navbar {
  justify-content: right;
  position: relative;
  height: 8rem;
  z-index: 1;
}

#header {
  display: flex;
}

.undernav {
  position:absolute;
  height: 8rem;
  width: 100%;
  background-color: var(--backgroundmedium);
}

.horizontalspacer{
  height: 18rem;
  background-color: var(--backgroundmedium);
}

svg {
  width: 100%;
  height: 100%;
}

svg path {
  fill: var(--backgroundmedium);
}

svg rect {
  fill: transparent;
}

.wave {
  --divider-height: 4rem;
  position: relative;
  top: calc( var(--divider-height)/2 * -1 );
  height: var(--divider-height);
  width: 100%;
  float: left; 
  z-index: -1;
  top: 0rem;
}

.headerbutton {
  position: relative;
  text-decoration: none;
  color: rgba(255, 233, 241, 0.721);
  font-size: large;
  font-weight: bold;
  line-height: 1rem;
  margin: 0 1.5rem 0 0.25rem;
  background-color: var(--backgrounddark);
  
  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

.headerbutton:hover {
  font-size: larger;
  color: white;
}

.darkercircle {
  position: absolute;
  width: 70rem;
  height: 70rem;
  border: 35rem solid var(--backgrounddark);
  border-radius: 50%;
  top: -60rem;
  right: -18rem;
  z-index: -0.75;
  pointer-events: none;
}

.circles1 {
  position: absolute;
  top: -20rem;
  left: -20rem;
  z-index: -0.5;
  pointer-events: none;
}

.circles2 {
  position: absolute;
  top: 20%;
  right: 30%;
  z-index: -0.5;
  pointer-events: none;
}

.circles3 {
  position: absolute;
  bottom: 0rem;
  left: -8%;
  pointer-events: none;
  height: 12rem;
}

.circle {
  position: absolute;
  width: 40rem;
  height: 40rem;
  border: 3px solid var(--backgroundlight);
  border-radius: 50%;
  display: inline;
  pointer-events: none;
}

.circle1{
  top: 0;
  left: 0;
  pointer-events: none;
}
.circle2{
  top: 3rem;
  left: 3rem;
  pointer-events: none;
}
.circle3{
  top: 6rem;
  left: 6rem;
  pointer-events: none;
}

#outlet {
  width: 100%;
  margin-top: -20rem;
  margin-bottom: 12rem;
}

footer {
  width: 100%;
  height: 5rem;
  background-color: var(--backgroundmedium);
  color: var(--darktext);
  text-align: center;
  margin-top: 4rem;
}

footer p {
  position: absolute;
  z-index: 1;
  background-color: var(--backgroundmedium);
  width:fit-content;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
}

#bottomwave {
  width: 100%;
  height: 30rem;
  margin-top: -31rem;
}

#index {
  position: relative;
  width: 100%;
}

.portraitcontainer {
  z-index: 1;
}

.myportrait {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 200px;
  border: 3px solid var(--backgroundlight);
  border-radius: 18px;
}

.mydescription{
  margin-top: 2rem;
  margin-left: 1rem;
}

.mydescription p {
  font-size: small;
  font-weight: bold;
  color: white;
  width: fit-content;
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  margin-top: 20px;
  background-color: var(--accentblue);
}

h1, h2, h3, h4{
  font-family: 'Fredoka', sans-serif;
  font-weight: bold;
  line-height: 90%;
}

h1{
  font-size: 4rem;
  color: var(--darktext);
}

h3{
  font-size: 2rem;
  color: var(--mediumtext);
}

h4 {
  font-size: 1.5rem;
  color: var(--mediumtext);
}

.projectsheader{
  color: white;
  font-weight: bold;
  min-width: 80%;
  left: 0; 
  right: 0; 
  margin: 0 auto 0 auto;
  background-color: var(--accentblue);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
}

.projects {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  width: 100%;
  margin-top: -5rem;
}

.projecticon {
  position: relative;
  width: 13rem;
  height: 10rem;
  margin: 0.5rem;
  z-index: 2;
}

.projectbg {
  position: absolute;
  background-color: var(--accentyellow);
  height: 100%;
  width: 100%;
  border-radius: 18px;
}

.projecticon p {
  position: absolute;
  color: white;
  font-weight: bold;
  bottom: 0;
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto;
  text-align: center;
  padding: 0 10px 0 10px;
}

/* For smaller screens - changes the layout */
@media screen and (max-width: 750px) {
  .headerbutton {
    margin: 0 0.1rem 0 0.1rem;
    font-size: small;
  }
  
  .headerbutton:hover {
    font-size: medium;
  }

  #navbar {
    justify-content: center;
  }

  .wave {
    --divider-height: 3rem;
  }

  .mydescription{
    display: flex;
    margin-left: 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
  }

  .myportrait {
    margin-bottom: -2rem;
    display: block;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  h1, h2, h3 {
    text-align: center;
    line-height: 90%;
  }

  h1{
    background-color: var(--backgroundmedium);
    width: fit-content;
  }

  h3{
    font-size: 1.5rem;
    background-color: var(--backgroundmedium);
    width: fit-content;
  }

  .horizontalspacer{
    height: 25rem;
  }

  #outlet {
    margin-top: -27rem;
  }

  .circles3 {
    bottom: -10rem;
  }

  .projectsheader {
    margin-top: 2rem;
  }
}